* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  border: 0;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

.display-none {
  display: none;
}

.all-form-item {
  width: 1200px;
  max-width: 100%;
  height: inherit;
  margin: 24px;
  margin: 0 auto;
  margin-bottom: 48px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.all-form-item .form-title {
  display: block;
  max-width: 100%;
  padding: 32px 48px;
  font-size: 24px;
  font-weight: 700;
  background: #fafafa;
}

.all-form-item .input-form-items .control-label {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 24px;
  color: #16191f;
}

.all-form-item .input-form-items .control-description {
  margin-bottom: 6px;
  font-size: 18px;
  color: #687078;
}

.sdmd-items {
  padding-bottom: 24px;
}

.sdmd-form-item {
  padding: 24px;
}

.sdmd-katexs-items .sdmd-katex-formula {
  padding-left: 48px;
  margin-bottom: 24px;
}

.sdmd-katexs-items .sdmd-katex-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sdmd-katexs-items .sdmd-katex-description .explanation-item {
  margin-right: 24px;
  margin-bottom: 6px;
}

.field-description {
  margin-bottom: 6px;
  font-size: 18px;
  color: #687078;
}

.management-items {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 24px 0;
}

.management-items .input-form-items {
  margin-right: 0;
  margin-bottom: 24px;
}

.management-items .input-form-items:nth-child(1), .management-items .input-form-items:nth-child(4), .management-items .input-form-items:nth-child(6), .management-items .input-form-items:nth-child(9), .management-items .input-form-items:nth-child(11) {
  margin-right: 24px;
}

.management-items .input-plants,
.management-items .regenerationCost-inputs,
.management-items .thinningPercent-inputs,
.management-items .harvesting-ages-input,
.management-items .max-num-of-harvest-item {
  width: calc(50% - 24px * 1 / 2);
}

.management-items .minimum-input,
.management-items .annualInterestPercent-item {
  width: 100%;
}

.thinning-form-items {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 24px 0;
}

.thinning-form-items .input-form-items {
  margin-right: 0;
  margin-bottom: 24px;
}

.thinning-form-items .input-form-items:nth-child(2), .thinning-form-items .input-form-items:nth-child(4) {
  margin-right: 24px;
}

.thinning-form-items .input-form-items:last-child ul {
  display: flex;
  flex-wrap: wrap;
  color: red;
  border-radius: 0;
}

.thinning-form-items .input-form-items:last-child ul li {
  width: calc((100% - 130px) / 11);
  color: red;
  border-radius: 0;
}

.thinning-form-items .input-form-items:last-child ul li:nth-child(1), .thinning-form-items .input-form-items:last-child ul li:nth-child(13) {
  width: 130px;
}

.thinning-form-items .input-form-items:last-child ul li .fieldset {
  border-radius: 0;
}

.thinning-form-items .input-form-items:last-child ul .TextField-without-border-radius fieldset {
  border-radius: 0;
}

.thinning-form-items .input-form-items:last-child ul .thinning-diameter-input {
  position: relative;
}

.thinning-form-items .input-form-items:last-child ul .diamter-error-message {
  position: absolute;
  font-size: 12px;
  padding: 2px;
  bottom: 56px;
}

.thinning-form-items .yield-rate-item {
  width: 100%;
}

.thinning-form-items .cost-item,
.thinning-form-items .stump-height-item,
.thinning-form-items .log-length-input,
.thinning-form-items .logging-pitch-input {
  width: calc(50% - 24px * 1 / 2);
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 0;
}

.Mui-disabled {
  color: red;
}

.thinning-diameter-input {
  position: relative;
}
