#d3demo {
  width: 80vw;
  height: 50vh;
  padding: 100px;
  overflow: visible;
}

text {
  z-index: 100;
  font-size: 8px;
}

svg + g {
  margin-right: -20px;
}

.grid line {
  pointer-events: none;
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  pointer-events: none;
  stroke-width: 0;
}

.axis--x,
.axis--y {
  font-size: 18px;
  font-weight: 400;
}

.lineChartText {
  padding: 24px 48px 0;
}

.lineChart {
  padding-bottom: 24px;

  svg {
    display: block;
    margin: 0 0 0 48px;
  }
}

.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 4px;
  font: 10px sans-serif;
  color: #fff;
  visibility: hidden;
  background: #333;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.cirStyle:hover,
.dragging {
  r: 12;
  fill: #f2b705;
  stroke: #f29f05;
}
